.welcomepage{
    max-width: 500px;
    width: 74%;
    margin: 3.125rem auto 0 auto;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    background-color: #ecece7;
    border: 1px solid #ecece7;
}
.button{
    border-radius: 10px;
    background-color: #158df7 !important;
    border: 1px solid #158df7 !important;

    &:hover{
        background-color: #324e84 !important;
        border: 1px solid #324e84 !important;
    }
}
